.formCompartment {
	margin: auto;
	width: 60%;
	padding: 10px 18px;
}

#firstName, #lastName {
	width: 94%;
}

#country {
	width: 25%
}

input[type=text], select, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 10px;
	resize: vertical;
}

input[type=submit] {
	background: rgb(179, 230, 255);
	padding: 10px 18px;
}

input[type=submit]:hover {
	background: rgb(102, 204, 255);
}

.wholeCompartment {
	background: rgb(153, 255, 255);
}