.navigator {
	list-style-type: none;
	text-align: center;
	background: rgb(153, 0, 51)		;
	position: sticky;
	top: 0;
	margin: 0;
	z-index: 3;

}

li.navigatorElement {
	display: inline-block;
	width: 20%;
	padding: 10px;
}

li.navigatorElement  a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

li.navigatorElement a:hover {
	color: rgb(51, 51, 204);	
}

li.navigatorElement a:active {
	color: black;
}

li.navigatorElement a:visited {
	color: rgb(0, 204, 153);
}

